APP_NAME=SimuladorUAM
APP_ENV=production
APP_KEY=base64:xlzrY+z+5paP3tbWJxdC37TsbGj8YN3SNRosy5GpOXM=
APP_DEBUG=true
APP_URL=https://quiet-everglades-75450.herokuapp.com/

LOG_CHANNEL=stack

DB_CONNECTION=pgsql
DB_HOST=ec2-3-218-71-191.compute-1.amazonaws.com
DB_PORT=5432
DB_DATABASE=d6nsbf29v8k3i6
DB_USERNAME=vjmsfzcuciibro
DB_PASSWORD=8690b93ae5af34e0ff49f747433692acb32b7ad252d35c5acdc124b411935cd0

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

PASSPORT_PERSONAL_ACCESS_CLIENT_ID=3
PASSPORT_PERSONAL_ACCESS_CLIENT_SECRET=chU3KWbHJfy8E7oRSWid6E47AzgMkcQYxSK5c2pl

JWT_SECRET=FK8r4PAsux2nJpsGosuMkGy6z0HTnzAGNW3JqMgP8MMeCvwPlIdHFB0pIwav3ErJ
